<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Waza Gaza - Gallery</title>
  <link rel="shortcut icon" href="./img/img (1).jpg" type="image/x-icon" />
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/gallery.css" />
  <link rel="stylesheet" href="./fontawesome/css/all.min.css" />
  <link rel="stylesheet" href="./fontawesome/css/brands.min.css" />
  <link rel="stylesheet" href="./fontawesome/css/regular.min.css" />
  <link rel="stylesheet" href="./fontawesome/css/solid.min.css" />
</head>

<body>
  <div class="container">
    <!-- Button to scroll to the top -->
    <button class="to-top-btn"><i class="fas fa-chevron-up"></i></button>

    <!-- Header section -->
    <section class="header">
      <!-- Navigation bar toggler button -->
      <label id="nav-bar-toggler" class="nav-bar-toggler"><i class="fas fa-bars"></i></label>

      <!-- Logo and text -->
      <div class="img-wrapper">
        <img class="logo" src="./img/img (40).jpg" alt="Waza Gaza Logo" />
      </div>

      <div class="logo-text">
        <h1>Waza's <span id="auto-typed"></span></h1>
        <p>Welcome to the world of Waza Gaza.</p>
      </div>
    </section>

    <!-- Navigation bar -->
    <div class="nav-bar border-style">
      <label id="nav-bar-toggler" class="nav-bar-toggler"><i class="fas fa-bars"></i></label>
      <ul>
        <!-- Navigation links -->
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <!-- Main content section -->
    <section class="main border-style full-page">
      <!-- Gallery Section -->
      <div class="gallery">
        <h3>Check Out All In 1 Place Waza Gaza's Photos</h3>

        <div class="gallery-item">
          <img src="./img/img (38).jpg" alt="Photo 38" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (39).jpg" alt="Photo 39" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (40).jpg" alt="Photo 40" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (1).jpg" alt="Photo 1" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (2).jpg" alt="Photo 2" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (3).jpg" alt="Photo 3" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (4).jpg" alt="Photo 4" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (5).jpg" alt="Photo 5" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (6).jpg" alt="Photo 6" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (7).jpg" alt="Photo 7" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (8).jpg" alt="Photo 8" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (9).jpg" alt="Photo 9" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (10).jpg" alt="Photo 10" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (11).jpg" alt="Photo 11" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (12).jpg" alt="Photo 12" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (13).jpg" alt="Photo 13" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (14).jpg" alt="Photo 14" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (15).jpg" alt="Photo 15" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (16).jpg" alt="Photo 16" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (17).jpg" alt="Photo 17" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (18).jpg" alt="Photo 18" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (19).jpg" alt="Photo 19" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (20).jpg" alt="Photo 20" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (21).jpg" alt="Photo 21" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (22).jpg" alt="Photo 22" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (23).jpg" alt="Photo 23" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (24).jpg" alt="Photo 24" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (25).jpg" alt="Photo 25" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (26).jpg" alt="Photo 26" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (27).jpg" alt="Photo 27" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (28).jpg" alt="Photo 28" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (29).jpg" alt="Photo 29" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (30).jpg" alt="Photo 30" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (31).jpg" alt="Photo 31" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (32).jpg" alt="Photo 32" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (33).jpg" alt="Photo 33" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (34).jpg" alt="Photo 34" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (35).jpg" alt="Photo 35" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (36).jpg" alt="Photo 36" />
        </div>
        <div class="gallery-item">
          <img src="./img/img (37).jpg" alt="Photo 37" />
        </div>
      </div>

      <div class="single-image-overlay">
    </section>

    <!-- Footer section -->
    <section class="footer border-style">
      <p>
        &copy; 2024 Waza Gaza. All Rights Reserved. Designed by
        <a href="https://about.me/shakiranter">Shakir Anter</a>
      </p>
    </section>
  </div>

  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script src="./scripts/main.js"></script>
  <script>
    // Function to navigate to different pages when a user clicks on the buttons in the sections
    function navigateTo(href) {
      window.location.href = href;
    }

    // Typed.js options for automatic typing effect
    var typed_options = {
      strings: ["Drip", "Photos"],
      typeSpeed: 120,
      backSpeed: 100,
      loop: true,
    };

    // Initializing Typed.js
    var typed = new Typed("#auto-typed", typed_options);
  </script>

  <script>
    const images = document.querySelectorAll(".gallery-item img");
    const singleImageOverlay = document.querySelector(".single-image-overlay");

    images.forEach((image) => {
      image.onclick = () => {
        singleImageOverlay.style.display = "block";

        const existingImage = singleImageOverlay.querySelector("img");
        if (existingImage) {
          existingImage.remove();
        }

        const img = document.createElement("img");
        img.setAttribute("src", image.src);
        img.alt = "Single Image";
        singleImageOverlay.append(img);
        singleImageOverlay.style.transform = "scale(1)";
        singleImageOverlay.style.transition = "3s ease";
        document.body.classList.add("no-scroll");

        singleImageOverlay.addEventListener("click", (e) => {
          if (e.target === singleImageOverlay) {
            singleImageOverlay.style.display = "none";
            document.body.classList.remove("no-scroll");
          }
        });

      };
    });

    document.body.addEventListener("keydown", (e) => {
      if (e.keyCode == 27) {
        singleImageOverlay.style.display = "none";
        document.body.classList.remove("no-scroll");
      }
    });
  </script>
</body>

</html>